
.pet-container{
  position: relative;
  height: calc(100vh - 70px);
}
 
.pet-map{
  width: 100%;
  height: 100%;
}
.map-panel{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
  display: flex;
  user-select: none;
}
.map-info{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dbd8d8;
  height: calc(100% - 30px);
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  padding-bottom: 10px;
}

.map-info-hint{
  font-size: 12px;
  color: #666;
  text-align: center;
}
.location-btn{
  position: absolute;
  bottom: 20px;
  left:  10px;
  z-index: 1000;
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pet-search{
  display: flex;
  padding: 10px;
  border: 1px solid #dbd8d8;
  border-radius: 40px;
  margin: 10px;
}
.pet-search input{
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
}
.pet-search:focus-within{
  border: 1px solid #ec5555;
}


.petshop-detail-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dbd8d8;
  height: calc(100% - 30px);
  position: relative;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  padding-bottom: 10px;

}
.detail-back-btn{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.775);
}
.detail-close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.775);
}

.cataloge-open-btn{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.775);
}
.detail-close-btn:hover{
  color: rgb(255, 255, 255);
}
.petshop-detail-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.review-container{
  margin-top: 10px;
}
.review-container .review-box{

  border: 1px solid rgba(81, 81, 81, 0.119);
  margin: 1px;
  padding: 4px;
}
.review-box i{
  font-size: 12px;
}
.review-box .review-date{
  font-size: 12px !important;
  text-align: end;
}
.petshop-card-content {
  padding: 16px;
  height: calc(100% - 20px);
  overflow: scroll;
}
.petshop-card-content h2 {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}
.petshop-card-content p {
  margin: 8px 0;
  color: #666;
}
.petshop-card-content .petshop-card-contact {
  margin-top: 16px;
  user-select:text

}
.petshop-card-content .petshop-card-contact p{
  font-size: 0.9rem;
  margin: 0;
}
.petshop-card-content .petshop-card-contact a {
  text-decoration: none;
  color: #007bff;
}
.petshop-card-features {
  margin-top: 16px;
  list-style: none;
  padding: 0;
}
.petshop-card-features li {
  margin: 4px 0;
  color: #555;
}

.petshop-marker{
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
  border: 2px solid black;
}
.petshop-marker.selected{
  border: 4px solid rgb(0, 211, 204);
}
.marker-cluster{
  background-color:greenyellow;
  text-align: center;
}
.marker-cluster p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.map-info ul{
  list-style: none;
  overflow-y: scroll;
}

.petshop-hours{
  font-size: small;
  color: #666;
  margin: 0;
}
.petcard-desc{
  font-size: 0.8rem !important;
  font-weight: lighter;
}

::-webkit-scrollbar {
  width: 4px;
}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.petshop-info{
    margin: 4px 0px;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 4px
  }
  .petshop-card{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .petshop-card.selected{
    background-color: #f0f0f0;
  }
  .petshop-card:hover{
    background-color: #f0f0f0;
  }
  .petshop-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .petshop-address{
    font-size: 14px;
  }
  .rating-card, .service-card{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: small;
    flex-wrap: wrap;
  }
  .service-cyl{
    font-size: 10px;
    text-transform: capitalize;
    background-color: rgb(80, 152, 235);
    border-radius: 10px;
    padding: 2px 10px;
  }

  .contact-card{
    display: flex;
    align-items: center;
    gap:4px
  }
  .contact-btn{
    border: 1px solid rgb(80, 152, 235);
    border-radius: 4px;
    padding: 2px 4px;

  }
  .contact-btn:hover{
    background-color: rgb(80, 152, 235);
    cursor: pointer;
  }

  .rating-star{
    color: rgb(233, 233, 37);
}
.pet-list{
  overflow-y: scroll;
}

.pet-card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.pet-card-header img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.pet-item {
  border-bottom: 1px solid #ddd;
  padding: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
}
.pet-item.expanded {
  background-color: #f0f0f0;
}

.pet-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pet-item h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.pet-item h4 {
  margin: 5px 0;
  font-size: 1.2em;
  color: #666;
}

.pet-item p {
  margin: 5px 0;
  font-size: 1em;
  color: #444;
}

.pet-details {
  border-top: 1px solid #eee;
}
.pet-card-header h3{
  color: black;
  font-size: 1.2rem;
}
.pet-card-header p{
  font-size: 0.9rem;
  margin: 0;
}
.pet-images {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.pet-images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.pet-vaccinations {
  margin-top: 10px;
}

.pet-vaccinations strong {
  font-size: 1em;
  color: #333;
}

.pet-vaccinations ul {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
}

.pet-vaccinations li {
  font-size: 0.9em;
  color: #555;
  margin: 3px 0;
}

.toggle-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color:red;
}

